<div class="row" style="margin-top: 50px" [formGroup]="recipeForm">
  <!-- todo: LISTS can be used for different editor view -->
  <!-- <div class="col-lg-6" *ngIf="ingredients.length > 0">
    <app-ingredient-list [ingredients]="ingredients"></app-ingredient-list>
  </div> -->
  <div
    class="col-lg-6 form-group"
    style="margin: auto; vertical-align: top"
    formArrayName="ingredients"
  >
    <div
      *ngFor="let ingredientForm of ingredients.controls; let i = index"
      [formGroupName]="i"
      [@add]="'added'"
    >
      <div style="margin-bottom: 50px">
        <div class="row">
          <div class="col-8">
            <mat-form-field class="field mt-4">
              <mat-label>Ingredient</mat-label>
              <input matInput placeholder="..." formControlName="name" />
            </mat-form-field>
          </div>
          <div class="col-4" style="display: flex; align-items: center">
            <button (click)="removeIngredient(i)" class="btn btn-danger">
              X
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field class="field mt-4">
              <mat-label>Quantity</mat-label>
              <input matInput placeholder="..." formControlName="quantity" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="field mt-4">
              <mat-label>Unit</mat-label>
              <mat-select formControlName="unit">
                <mat-option
                  *ngFor="let unitOption of unitOptions"
                  [value]="unitOption"
                  >{{ unitOption }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div
          *ngIf="!ingredientForm.valid && ingredientForm.touched"
          style="float: right"
        >
          <mat-error>You must fill all fields.</mat-error>
        </div>
      </div>
    </div>

    <button
      (click)="addIngredient()"
      class="btn btn-success"
      style="float: right"
    >
      Add
    </button>

    <button type="submit" class="btn btn-primary mt-4" (click)="onSubmit()">
      Continue
    </button>
  </div>
</div>
