<div class="container mt-5">

    <mat-accordion class="example-headers-align" multi *ngIf="groupedTags.size>0" >
        <mat-expansion-panel expanded="true" (opened)="onCookerOpened()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Find recipes
                </mat-panel-title>

                <mat-panel-description>  
                    
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col md-4" *ngFor="let mapItem of groupedTags | keyvalue">
                    <app-tagsholder 
                        [type]="splitCamelCase(mapItem.key)"
                        [tags]="mapItem.value"
                        (onTagSelectionChanged)="selectTag($event)"
                    ></app-tagsholder>
                </div>
            </div>
        
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" (click)="toggleRecipes()">Cook</button>
            </div>
        
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="container mt-5" *ngIf="showRecipes">
    <div class="row">
        <div class="col-md-4 mt-4" *ngFor="let recipe of recipes">
            <app-recipe-overview [recipe]="recipe"></app-recipe-overview>
        </div>
    </div>
</div>