<div class="container mt-5">
  <mat-accordion
    class="example-headers-align"
    multi
    *ngIf="groupedTags.size > 0"
  >
    <mat-expansion-panel expanded="true" (opened)="onCookerOpened()">
      <mat-expansion-panel-header>
        <mat-panel-title> Find recipes </mat-panel-title>

        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col md-4" *ngFor="let mapItem of groupedTags | keyvalue">
          <app-tagsholder
            [type]="splitCamelCase(mapItem.key)"
            [tags]="mapItem.value"
          ></app-tagsholder>
        </div>
      </div>

      <div class="row">
        <div class="col-6 justify-content-start">
          <p style="position: absolute; bottom: 0" *ngIf="recipes.length > 0">
            {{ recipes.length }} entries found
          </p>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary" (click)="toggleRecipes()">
              Cook
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="container mt-5" *ngIf="showRecipes">
  <div class="row">
    <div class="col-md-4 mt-4" *ngFor="let recipe of getCurrentPageRecipes()">
      <app-recipe-overview [recipe]="recipe"></app-recipe-overview>
    </div>
  </div>
  <ngb-pagination
    [pageSize]="pageSize"
    *ngIf="recipes.length > pageSize"
    [collectionSize]="recipes.length"
    [(page)]="currentPage"
    class="d-flex justify-content-center mt-4"
  ></ngb-pagination>
</div>
