a {
    text-decoration: none;
    color: #343a40;
    
    &.active {
        color: orange;
    }
}

ul.nav li {
    padding-right: 25px;
}

.mat-icon {
    transform: scale(1.25);
}

.container {
    padding-bottom: 30px;
}