<div class="container is-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <ul class="nav my-4 fs-4">
                <li class="nav-item">
                  <a class="p-2" routerLink="/cook" routerLinkActive="active">Cook</a>
                </li>
                <li class="nav-item">
                  <a class="p-2" routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                  <a class="p-2" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
            </ul>
        </div>
    </div>

</div>
