.field {
  width: 100%;
}

.description-field {
  width: 100%;
  min-height: 200px;
  height: auto;
}

mat-card {
  margin-bottom: 50px;
  box-shadow: 2px 2px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.content {
  max-width: 80%;
  margin-top: 30px;
}
