.field {
    width: 100%;
}

.description-field {
    width: 100%;
    min-height: 200px;
    height: auto;
}

/* Add this CSS in your component's CSS file or a global CSS file */
.image-container {
    position: relative; /* Make the container a positioning context */
    display: inline-block; /* Ensure the container takes only as much width as necessary */
  }
  
.remove-button {
    position: absolute;
    top: 0;
    right: 0;
    background: red; /* You can customize the button's styles */
    color: white;
    padding: 5px;
    font-size: 18px;
    min-width: 35px;
    cursor: pointer;
}