<div class="mt-4" *ngIf="recipeForm" [formGroup]="recipeForm">
  <div class="row">
    <div
      class="col-lg-6 form-group"
      style="float: none; margin: auto; margin-top: 50px"
    >
      <mat-form-field class="field mt-4">
        <mat-label>Recipe name</mat-label>
        <input matInput placeholder="..." formControlName="name" />
      </mat-form-field>

      <mat-form-field class="description-field mt-4">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          placeholder="..."
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <mat-form-field class="field mt-4">
        <mat-label>Main ingredient</mat-label>
        <input matInput placeholder="..." formControlName="ingredientTags" />
      </mat-form-field>

      <mat-form-field class="field mt-4">
        <mat-label>Origin</mat-label>
        <input matInput placeholder="..." formControlName="originTags" />
      </mat-form-field>

      <mat-form-field class="field mt-4">
        <mat-label>Character</mat-label>
        <input matInput placeholder="..." formControlName="characterTags" />
      </mat-form-field>

      <app-image-loader [selectedImages]="recipeImages"></app-image-loader>

      <button
        (click)="onSubmit()"
        class="btn btn-primary mt-4"
        [disabled]="recipeForm.invalid"
      >
        Continue
      </button>
    </div>
  </div>
</div>
