<div class="row mt-4" style="height: 160px">
  <div class="col-4">
    <input
      type="file"
      class="form-control-file"
      style="display: none"
      accept=".jpg"
      multiple
      (change)="onFileSelected($event)"
      #hiddenfileinput
    />
    <button
      (click)="hiddenfileinput.click()"
      class="btn btn-primary selectButton"
    >
      Select images
    </button>
  </div>
</div>
<div class="row" *ngIf="pictureUrls">
  <div
    class="col-4 image-container"
    *ngFor="let image of pictureUrls; let i = index"
  >
    <img [src]="image" alt="Thumbnail" style="max-height: 150px; width: auto" />
    <button (click)="removeImage(i)" class="btn btn-danger remove-button">
      X
    </button>
  </div>
</div>
