/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

label.xng-breadcrumb-trail {
  color: orange;
}

// body, input {
//     font-family: 'Raleway';
// }

// @font-face {
//     font-family: 'Raleway';
//     src: url('assets/Raleway-VariableFont_wght.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
