<ng-container *ngIf="recipe">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title (click)="viewDetailsClicked()">{{
        recipe.name
      }}</mat-card-title>
      <mat-card-subtitle>{{ recipe.summary }}</mat-card-subtitle>
    </mat-card-header>

    <ng-container *ngIf="recipe.pictureUrls[0]">
      <img
        mat-card-image
        [src]="recipe.pictureUrls[0]"
        [alt]="recipe.name"
        class="image-container"
        (click)="viewDetailsClicked()"
        [@pictureAnimation]
        style="cursor: pointer"
      />
    </ng-container>
    <ng-container *ngIf="recipe.pictureUrls.length === 0">
      <div class="icon-container" (click)="viewDetailsClicked()">
        <mat-icon>fastfood</mat-icon>
      </div>
    </ng-container>

    <mat-card-content style="margin-top: 40px; min-height: 200px">
      <p>
        {{ recipe.description }}
      </p>
    </mat-card-content>
    <mat-card-actions style="justify-content: end; margin-top: 20px">
      <button mat-button (click)="viewDetailsClicked()">View details »</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
