.card {
  //   background-color: #ffd699; /* Light orange background color */
  border: none;
  padding: 20px;
  margin: 10px;
  margin-top: 30px;
  text-align: left;

  .card-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  .card-content {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
    margin-top: 20px;
    transition: transform 0.2s;
    position: relative;

    &:hover {
      transform: scale(1.01);
    }

    &::after {
      content: "";
      display: block;
      width: 10%;
      height: 1px; /* The underline's height */
      background-color: #ffa500; /* Orange underline color */
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
