<div class="container" [@openClose]="'open'">
  <ng-container *ngIf="recipe">
    <div class="row">
      <div class="col-2">
        <button class="btn btn-primary mb-4" (click)="onClickBackButton()">
          <
        </button>
      </div>

      <div
        class="col-10"
        style="text-align: right; display: flex; justify-content: flex-end"
      >
        <ng-container *ngIf="user | async as user">
          <ng-container *ngIf="isEliglibleForVerification(user)">
            <select
              class="form-control"
              [(ngModel)]="recipe.status"
              style="margin-right: 10px; max-height: 35px; max-width: 120px"
              (change)="onStatusChange()"
            >
              <option value="Unverified">Unverified</option>
              <option value="Verified">Verified</option>
              <option value="Archived">Archived</option>
            </select>
          </ng-container>
          <ng-container *ngIf="isEliglibleForEdit(user)">
            <button
              class="btn btn-primary"
              style="margin-right: 10px"
              (click)="onClickEditButton()"
            >
              <mat-icon>edit</mat-icon>Edit
            </button>
            <button
              class="btn btn-danger"
              style="margin-right: 10px"
              (click)="onClickDeleteButton()"
            >
              <mat-icon>delete</mat-icon>Delete
            </button>
          </ng-container>
        </ng-container>

        <button class="btn btn-primary" (click)="onClickSaveButton()">
          <ng-container *ngIf="isRecipeSaved"
            ><mat-icon>check_circle_outline</mat-icon>Saved</ng-container
          >
          <ng-container *ngIf="!isRecipeSaved"
            ><mat-icon>save</mat-icon>Save</ng-container
          >
        </button>
      </div>
    </div>

    <div class="row recipe-main">
      <div class="col-md-8">
        <h3 class="title">{{ recipe.name }}</h3>
        <app-rating
          [rate]="rate"
          (rateChange)="onRateChange($event)"
        ></app-rating>
        <p *ngIf="ownerDisplayName" class="mat-small mb-0">
          owner: <b>{{ ownerDisplayName }}</b>
        </p>
        <p class="mat-small">
          status: <b>{{ recipe.status }}</b>
        </p>

        <p class="mt-4 fs-6">{{ recipe.summary }}</p>
        <p class="mt-4 fs-6">{{ recipe.description }}</p>
      </div>
      <div class="col-md-4">
        <app-album [pictureUrls]="recipe.pictureUrls"></app-album>
      </div>
    </div>

    <div class="details-topic-container">
      <h3 class="text-primary">Ingredients</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of recipe.ingredients">
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.quantity }}</td>
            <td>{{ ingredient.unit }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="details-topic-container"
      *ngIf="recipe && recipe.steps.length > 0"
    >
      <h3 class="text-primary">Steps</h3>

      <div class="row recipe-step" *ngFor="let step of recipe.steps">
        <div class="col-8">
          <h2>{{ step.id }}. {{ step.name }}</h2>
          <p>{{ step.description }}</p>
        </div>
        <div class="col-4">
          <app-album
            *ngIf="step.pictureUrls"
            [pictureUrls]="step.pictureUrls"
          ></app-album>
        </div>
      </div>
    </div>
  </ng-container>
</div>
