<div class="container text-center">
  <h2>Add recipe</h2>
  <mat-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Basic info</ng-template>
      <app-recipe-add-basics (formSubmitted)="onBasicsStepSubmit()">
      </app-recipe-add-basics>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Ingredient list</ng-template>
      <app-recipe-add-ingredients
        (formSubmitted)="onIngredientsStepSubmitted()"
      >
      </app-recipe-add-ingredients>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Recipe steps</ng-template>
      <app-recipe-add-steps (formSubmitted)="onStepsStepSubmitted()">
      </app-recipe-add-steps>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finish</ng-template>
      <div style="margin-top: 80px">
        <button
          class="btn btn-primary"
          mat-button
          matStepperPrevious
          style="margin-right: 20px"
        >
          Back
        </button>
        <button
          class="btn btn-danger"
          mat-button
          (click)="stepper.reset()"
          style="margin-right: 20px"
        >
          Reset
        </button>
        <button
          class="btn btn-success"
          mat-button
          (click)="postRecipe()"
          style="margin-right: 20px"
          [disabled]="recipeValidationErrors.length == 0"
        >
          Publish
        </button>
      </div>
      <div
        *ngIf="recipeValidationErrors.length > 0"
        style="margin-top: 50px; text-align: center"
      >
        <mat-error>Found errors in: </mat-error>
        <mat-error *ngFor="let error of recipeValidationErrors">{{
          error
        }}</mat-error>
      </div>
    </mat-step>
  </mat-stepper>
</div>
