<div class="container text-center">
    <h2>Add recipe</h2>
    <mat-stepper #stepper>
        <mat-step >
        <ng-template matStepLabel>Basic info</ng-template>
          <app-recipe-add-basics [recipeForm]="recipeForm"></app-recipe-add-basics>
          <button type="submit" class="btn btn-primary mt-4" (click)="stepper.next()">Continue</button>
        </mat-step>
        <mat-step>
        <ng-template matStepLabel>Recipe steps</ng-template>
        <div class="row" style="margin-top: 50px;">
          <div class="col-lg-6" *ngIf="recipeSteps.length > 0">
            <app-recipe-steps-list [recipeSteps]="recipeSteps"></app-recipe-steps-list>
          </div>
          <div class="col-lg-6 form-group" style="margin:auto; vertical-align: top;" >
            <app-recipe-add-steps [recipeStepForm]="recipeStepForm" [stepAdd]="addRecipeStep"></app-recipe-add-steps>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4" (click)="stepper.next()">Continue</button>
            
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
    </mat-stepper>
</div>


