<div class="container text-center">
    <h2>Add recipe</h2>
    <mat-stepper #stepper>
        <mat-step >
        <ng-template matStepLabel>Basic info</ng-template>
          <app-recipe-add-basics 
            [recipeForm]="recipeForm" 
            [recipeImages]="recipeImages"
            (formSubmitted)="onBasicsStepSubmit()">
          </app-recipe-add-basics>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Ingredient list</ng-template>
              <app-recipe-add-ingredients 
                [ingredientsForm]="ingredientsForm"
                [ingredients]="ingredients"
                (formSubmitted)="onIngredientsStepSubmitted($event)">
              </app-recipe-add-ingredients>
        </mat-step>

        <mat-step>
        <ng-template matStepLabel>Recipe steps</ng-template>
          <app-recipe-add-steps 
            (formSubmitted)="onStepsStepSubmitted($event)"
            [recipeStepForm]="recipeStepForm"
            [recipeSteps]="recipeSteps">
          </app-recipe-add-steps>
            
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="postRecipe()">Post</button>
          </div>
        </mat-step>
    </mat-stepper>
</div>