<ngx-spinner type="ball-pulse-sync">
    <h3>Loading...</h3>
</ngx-spinner>

<div class="main-container">
    <app-nav></app-nav>
    <div class="container" style="min-height: 80px;">
        <nav>
            <xng-breadcrumb style="float: right; font-size: large;">
                <ng-container *xngBreadcrumbItem="let breadcrumb">
                    {{ breadcrumb | titlecase }}
                </ng-container>
            </xng-breadcrumb>
        </nav>
    </div>

    <!-- <ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
        <section *ngIf="breadcrumbs[breadcrumbs.length-1].label !== 'Home'" class="py-5 mb-3" style="margin-top: 15px;">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h1>{{breadcrumbs[breadcrumbs.length-1].label | titlecase }}</h1>
                    </div>
                    <div class="col-3">
                        <nav>
                            <xng-breadcrumb>
                                <ng-container *xngBreadcrumbItem="let breadcrumb">
                                    {{ breadcrumb | titlecase }}
                                </ng-container>
                            </xng-breadcrumb>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </ng-container> -->

    <router-outlet></router-outlet>
</div>

<app-footer class="footer"></app-footer>