<div
  class="mt-4"
  [formGroup]="loginForm"
  (keydown.enter)="$event.preventDefault(); login()"
>
  <div class="row">
    <div
      class="col-lg-6 form-group"
      style="float: none; margin: auto; margin-top: 50px"
    >
      <div class="panel">
        <h2 style="align-self: flex-start">Login:</h2>

        <mat-form-field class="field">
          <input
            matInput
            placeholder="Email"
            type="email"
            name="email"
            formControlName="email"
          />
        </mat-form-field>

        <mat-form-field class="field">
          <input
            matInput
            placeholder="Password"
            type="password"
            name="password"
            formControlName="password"
          />
        </mat-form-field>

        <button
          (click)="login()"
          class="btn btn-primary"
          style="align-self: flex-end"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
