<div class="container" *ngIf="!(accountService.user$ | async)">
    <app-login></app-login>
    <app-registration></app-registration>
</div>

<div class="container" *ngIf="accountService.user$ | async as user">
    <h2 class="text-center mt-3 mb-4">Hello {{ user.displayName }}</h2>
    
    <div class="d-flex justify-content-center">
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-primary">My Recipes</button>
        <button type="button" class="btn btn-primary mt-3">Saved Recipes</button>
        <button type="button" class="btn btn-primary mt-3">Verify Recipes</button>
        <button type="button" class="btn btn-danger mt-3" (click)="accountService.logout()">Logout</button>
      </div>
    </div>
  </div>