<div class="row justify-content-center w-100">
  <div class="col-md-3 d-none d-md-block">
    <a routerLink="/cook">
      <div class="image-container">
        <img src="assets/top.png" alt="logo" class="responsive-image" />
      </div>
    </a>
  </div>
  <div class="col-xl-6 navigation">
    <ul class="nav my-4 fs-6 nav-buttons">
      <li class="nav-item">
        <a class="p-2" routerLink="/cook" routerLinkActive="active"
          ><mat-icon> local_pizza</mat-icon> Cook</a
        >
      </li>
      <li class="nav-item">
        <a class="p-2" routerLink="/about" routerLinkActive="active"
          ><mat-icon>info</mat-icon> About</a
        >
      </li>
      <li class="nav-item">
        <a class="p-2" routerLink="/add-recipe" routerLinkActive="active"
          ><mat-icon>fastfood</mat-icon> Add recipe</a
        >
      </li>
      <li *ngIf="accountService.user$ | async as user">
        <a routerLink="/account" routerLinkActive="active"
          ><mat-icon>account_circle</mat-icon> My Account</a
        >
      </li>
      <li *ngIf="(accountService.user$ | async) === null">
        <a routerLink="/account" routerLinkActive="active"
          ><mat-icon>account_circle</mat-icon> Sign In</a
        >
      </li>
    </ul>
  </div>
  <div class="col-3 d-none d-md-block"></div>
</div>
