<div class="row" style="margin-top: 50px" [formGroup]="recipeForm">
  <div
    class="col-lg-6 form-group"
    style="margin: auto; vertical-align: top"
    formArrayName="recipeSteps"
  >
    <div
      class="panel"
      *ngFor="let recipeStepForm of recipeSteps.controls; let i = index"
      [formGroupName]="i"
      [@add]="'added'"
    >
      <button
        (click)="removeRecipeStep(i)"
        class="btn btn-danger remove-button"
        style="float: right"
      >
        X
      </button>

      <div class="form-content">
        <mat-form-field class="field mt-4">
          <mat-label>Step name</mat-label>
          <input
            id="recipe-step-name"
            matInput
            placeholder="..."
            formControlName="name"
          />
        </mat-form-field>

        <mat-form-field class="description-field mt-4">
          <mat-label>Description</mat-label>
          <textarea
            id="recipe-step-description"
            matInput
            cdkTextareaAutosize
            placeholder="..."
            formControlName="description"
          ></textarea>
        </mat-form-field>

        <div
          *ngIf="!recipeStepForm.valid && recipeStepForm.touched"
          style="float: right"
        >
          <mat-error>You must fill all fields.</mat-error>
        </div>

        <app-image-loader
          [pictureUrls]="recipeStepForm.get('pictureUrls')?.value"
        ></app-image-loader>
      </div>
    </div>
    <button
      (click)="addRecipeStep()"
      class="btn btn-success"
      style="float: right"
    >
      Add
    </button>
    <button type="submit" class="btn btn-primary mt-4" (click)="onSubmit()">
      Continue
    </button>
  </div>
</div>
