.lightbox-img {
  border: 4px solid transparent;
  transition: border 0.25s;

  &:hover {
    border: 4px solid #000000;
  }
}

.lightbox-target {
  left: 0px;
}

@media (max-width: 767px) {
  img {
    max-height: 100px;
  }

  div {
    margin-top: 40px;
  }
}
