<div class="container mt-4" [@openClose]="'open'">
  <div class="row">
    <div class="col-lg-6" style="float: none; margin: auto; margin-top: 50px">
      <h2>Hello!</h2>
      <p>
        Welcome to our webpage! We've simplified recipe search with our unique
        tagging system. You can easily find recipes based on the main
        ingredient, origin, or character of the food you desire. Whether you're
        in the mood for something spicy with beef or something mild and light,
        our webpage has you covered. Start exploring and discover a world of
        culinary possibilities at your fingertips!
      </p>
    </div>
  </div>
</div>
