<div class="container mt-4">
    <!-- <h4>
        Welcome to our webpage, designed to simplify your recipe search and make your cooking experience more enjoyable! With the help of our innovative tagging system, we have made it easier than ever to find the perfect dish for any occasion.
    </h4>

    <h4>
        Are you in the mood for something with a specific main ingredient? Look no further! Our webpage allows you to search for recipes based on your desired main ingredient, whether it's succulent beef, fresh seafood, or vibrant vegetables. Now you can explore a world of culinary possibilities using your favorite ingredients as the star of the show.
    </h4>

    <h4>
        If you have a taste for authentic flavors from around the world, our webpage has got you covered. Our intuitive tag system allows you to search for recipes based on origin, giving you access to a diverse range of cuisines. Whether you crave the spices of India, the exotic tastes of Thailand, or the comforting flavors of Italy, our webpage is your passport to culinary exploration.
    </h4>

    <h4>
        Not sure what you're in the mood for, but know what kind of character you want your food to have? We've got you covered there too. Our tagging system enables you to search for recipes based on the character of the food. Whether you're seeking something spicy and bold or light and refreshing, our webpage will help you find the perfect recipe to satisfy your cravings. 
    </h4>

    <h4>
        Gone are the days of endlessly scrolling through recipe websites, trying to find the right dish. Our webpage streamlines the process, making it quick and easy to find recipes tailored to your preferences. So whether you want to impress your dinner guests with a gourmet feast or whip up a quick and delicious weeknight meal, let our webpage be your go-to source for recipe inspiration.
    </h4>

    <h4>
        Get ready to embark on a culinary adventure like no other. Discover new flavors, try exciting combinations, and let our webpage be your guide as you create delicious meals that will leave a lasting impression. Start exploring today and unlock the world of possibilities that awaits you in the kitchen. Happy cooking!
    </h4> -->
    <div class="row">
        <div class="col-lg-6" style="float:none; margin: auto; margin-top: 50px;">
            <h2>Hello!</h2>
            <p>Welcome to our webpage! We've simplified recipe search with our unique tagging system. You can easily find recipes based on the main ingredient, origin, or character of the food you desire. Whether you're in the mood for something spicy with beef or something mild and light, our webpage has you covered. Start exploring and discover a world of culinary possibilities at your fingertips!</p>
        </div>
    </div>
    

</div>
