.recipe-step {
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .description {
    color: #555;
  }

  .recipe-step-content {
    text-align: left;
  }